./Fig1_intro/obs
./Fig1_intro/.Rhistory
./Fig2_mate_choice/.Rhistory
./Fig3_ampl_sexes/.Rhistory
./Fig3_ampl_sexes/versions
./Fig4_ovifem/.Rhistory
./Fig5_juv/.Rhistory
./Fig6_lost_eggs/.Rhistory
./Fig6_lost_eggs/obs